.buscador-container {
  display: flex;
  align-items: center;
  background: #f7f8fa;
  border-radius: 8px;
  padding: 0.25rem 1rem 0.25rem 1rem;
  box-shadow: 0 1px 4px rgba(0,0,0,0.4);
  width: 100%;
  max-width: 480px;
  
  
  
}

.buscador-input {
  flex: 1;
  border: none;
  background: transparent;
  font-size: 1rem;
  color: #374151ba;
  
  padding: 0.7rem 0.5rem 0.7rem 0;
  outline: none;

  
}

.buscador-input::placeholder {
  color: #b0b3bb;
  opacity: 1;
}

.buscador-icon {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  pointer-events: none;
}
